{{define "bio"}}
<h2 class="text-2xl underline underline-offset-8 decoration-4 font-bold text-gray-900 dark:text-stone-200">Bio</h2>


<ol class="relative text-gray-700 border-s border-gray-700 dark:border-gray-200 dark:text-gray-400 mt-4 ml-4">
    <li class="mb-10 ms-6">
        <span
            class="absolute flex items-center justify-center w-8 h-8 bg-cyan-300 rounded-full -start-4 ring-2 dark:ring-gray-200 ring-gray-400 dark:bg-fuchsia-400 mr-3">
            <svg class="w-3.5 h-3.5 text-green-500 dark:text-green-400" aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
            </svg>
        </span>
        <h3 class="font-medium leading-tight ml-5">Born in Beirut, Lebanon</h3>
        <p class="text-sm ml-5">200X</p>
    </li>
    <li class="mb-10 ms-6">
        <span
            class="absolute flex items-center justify-center w-8 h-8 bg-cyan-300 rounded-full -start-4 ring-2 dark:ring-gray-200 ring-gray-400 dark:bg-fuchsia-400">
            <svg class="w-3.5 h-3.5 text-green-500 dark:text-green-400" aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
            </svg>
        </span>
        <h3 class="font-medium leading-tight ml-5">Completed Engineering and Cybersecurity Master's Program at ENSIMAG </h3>
        <p class="text-sm ml-5">2023</p>
    </li>
    <li class="mb-10 ms-6">
        <span
            class="absolute flex items-center justify-center w-8 h-8 bg-cyan-300 rounded-full -start-4 dark:ring-white ring-gray-900 dark:bg-fuchsia-400 mr-5 animate-ping">
            <svg class="w-3.5 h-3.5 text-green-500 dark:text-green-400" aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
            </svg>
        </span>
        <span
            class="absolute flex items-center justify-center w-8 h-8 bg-cyan-300 rounded-full -start-4 ring-2 dark:ring-gray-200 ring-gray-400 dark:bg-fuchsia-400">
            <svg class="w-3.5 h-3.5 text-green-500 dark:text-green-400" aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
            </svg>
        </span>
        <h3 class="font-medium leading-tight ml-5">Full time Pentester at Amadeus</h3>
        <p class="text-sm ml-5">2023 - Present</p>
    </li>
</ol>
{{end}}
