<!DOCTYPE>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Haroun AL Mounayar</title>

    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    {{template "nav"}}
    <ul>
        <li>Hey</li>
        <li>Hey</li>
        <li>Hey</li>
        <li>Hey</li>
        <li>Hey</li>
        <li>Hey</li>
        <li>Hey</li>
        <li>Hey</li>
        <li>Hey</li>
        <li>Hey</li>
        <li>Hey</li>
        <li>Hey</li>
        <li>Hey</li>
        <li>Hey</li>
        <li>Hey</li>
        <li>Hey</li>
        <li>Hey</li>
        <li>Hey</li>
        <li>Hey</li>
        <li>Hey</li>
        <li>Hey</li>
        <li>Hey</li>
        <li>Hey</li>
        <li>Hey</li>
        <li>Hey</li>
        <li>Hey</li>
        <li>Hey</li>
        <li>Hey</li>
        <li>Hey</li>
        <li>Hey</li>
        <li>Hey</li>
        <li>Hey</li>
        <li>Hey</li>
        <li>Hey</li>
        <li>Hey</li>
        <li>Hey</li>
        <li>Hey</li>
        <li>Hey</li>
        <li>Hey</li>
        <li>Hey</li>
        <li>Hey</li>
        <li>Hey</li>
        <li>Hey</li>
        <li>Hey</li>
        <li>Hey</li>
        <li>Hey</li>
        <li>Hey</li>
        <li>Hey</li>
        <li>Hey</li>
        <li>Hey</li>
        <li>Hey</li>
        <li>Hey</li>
        <li>Hey</li>
        <li>Hey</li>
        <li>Hey</li>
        <li>Hey</li>
        <li>Hey</li>
        <li>Hey</li>
        <li>Hey</li>
        <li>Hey</li>
        <li>Hey</li>
        <li>Hey</li>
        <li>Hey</li>
        <li>Hey</li>
        <li>Hey</li>
        <li>Hey</li>
        <li>Hey</li>
        <li>Hey</li>
        <li>Hey</li>
        <li>Hey</li>
        <li>Hey</li>
    </ul>
</body>

</html>
