<!DOCTYPE>
<html class="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Haroun AL Mounayar</title>

    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/tailwind.config.js"></script>
</head>

<body class=" bg-orange-100 dark:bg-neutral-800">
    <main class="grid justify-center">
        <div class="col-start-1 row-start-1">
            {{template "nav"}}
        </div>
        <div class="grid justify-center col-start-1 row-start-1">
            <div class="col-start-1 row-start-1">
                {{template "desk"}}
            </div>
            <div class="col-start-1 row-start-2 justify-self-center md:w-1/2 mt-[-80]">
                {{template "quickpres"}}
            </div>
        </div>
    </main>

    <ul>
        <li> Heyy </li>
        <li> Heyy </li>
        <li> Heyy </li>
        <li> Heyy </li>
        <li> Heyy </li>
        <li> Heyy </li>
        <li> Heyy </li>
        <li> Heyy </li>
        <li> Heyy </li>
        <li> Heyy </li>
        <li> Heyy </li>
        <li> Heyy </li>
        <li> Heyy </li>
        <li> Heyy </li>
        <li> Heyy </li>
        <li> Heyy </li>
        <li> Heyy </li>
        <li> Heyy </li>
        <li> Heyy </li>
        <li> Heyy </li>
        <li> Heyy </li>
        <li> Heyy </li>
        <li> Heyy </li>
        <li> Heyy </li>
        <li> Heyy </li>
        <li> Heyy </li>
        <li> Heyy </li>
        <li> Heyy </li>
        <li> Heyy </li>
        <li> Heyy </li>
        <li> Heyy </li>
        <li> Heyy </li>
        <li> Heyy </li>
        <li> Heyy </li>
        <li> Heyy </li>
    </ul>
</body>

</html>
